In [45]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np
%matplotlib inline

In [46]:
from google.colab import files
data_to_load = files.upload()
import io
df = pd.read_csv(io.BytesIO(data_to_load['Churn_Modelling.csv']))

Saving Churn_Modelling.csv to Churn_Modelling (1).csv

In [47]:
df.sample(5)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
2255,2256,15681506,Lane,478,Spain,Male,43,1,0.00,2,1,1,197916.43,0
3820,3821,15763148,Stanley,576,France,Male,39,9,84719.98,1,0,0,191063.36,0
5322,5323,15699830,Doherty,721,France,Female,40,7,0.00,2,1,1,122580.48,0
1838,1839,15758813,Campbell,350,Germany,Male,39,0,109733.20,2,0,0,123602.11,1
2113,2114,15686255,Mouzon,738,Germany,Male,35,6,101744.84,1,0,0,85185.44,0

In [48]:
df.drop('RowNumber', axis='columns', inplace=True)
df.drop('CustomerId', axis='columns', inplace=True)
df.drop('Surname', axis='columns', inplace=True)

In [49]:
df.dtypes

CreditScore          int64
Geography           object
Gender              object
Age                  int64
Tenure               int64
Balance            float64
NumOfProducts        int64
HasCrCard            int64
IsActiveMember       int64
EstimatedSalary    float64
Exited               int64
dtype: object

In [50]:
def print_unique_col_values(df):
  for column in df:
    if(df[column].dtypes=='object'):
      print(f'{column}: {df[column].unique()}')

In [51]:
print_unique_col_values(df)

Geography: ['France' 'Spain' 'Germany']
Gender: ['Female' 'Male']

In [52]:
df['Geography'].replace({'France':0, 'Spain':1, 'Germany':2}, inplace=True)
df['Gender'].replace({'Female':0, 'Male':1}, inplace=True)

In [53]:
for col in df:
  print(f'{col}: {df[col].unique()}')

CreditScore: [619 608 502 699 850 645 822 376 501 684 528 497 476 549 635 616 653 587
 726 732 636 510 669 846 577 756 571 574 411 591 533 553 520 722 475 490
 804 582 472 465 556 834 660 776 829 637 550 698 585 788 655 601 656 725
 511 614 742 687 555 603 751 581 735 661 675 738 813 657 604 519 664 678
 757 416 665 777 543 506 493 652 750 729 646 647 808 524 769 730 515 773
 814 710 413 623 670 622 785 605 479 685 538 562 721 628 668 828 674 625
 432 770 758 795 686 789 589 461 584 579 663 682 793 691 485 650 754 535
 716 539 706 586 631 717 800 683 704 615 667 484 480 578 512 606 597 778
 514 525 715 580 807 521 759 516 711 618 643 671 689 620 676 572 695 592
 567 694 547 594 673 610 767 763 712 703 662 659 523 772 545 634 739 771
 681 544 696 766 727 693 557 531 498 651 791 733 811 707 714 782 775 799
 602 744 588 747 583 627 731 629 438 642 806 474 559 429 680 749 734 644
 626 649 805 718 840 630 654 762 568 613 522 737 648 443 640 540 460 593
 801 611 802 745 483 690 492 709 705 560 752 701 537 487 596 702 486 724
 548 464 790 534 748 494 590 468 509 818 816 536 753 774 621 569 658 798
 641 542 692 639 765 570 638 599 632 779 527 564 833 504 842 508 417 598
 741 607 761 848 546 439 755 760 526 713 700 666 566 495 688 612 477 427
 839 819 720 459 503 624 529 563 482 796 445 746 786 554 672 787 499 844
 450 815 838 803 736 633 600 679 517 792 743 488 421 841 708 507 505 456
 435 561 518 565 728 784 552 609 764 697 723 551 444 719 496 541 830 812
 677 420 595 617 809 500 826 434 513 478 797 363 399 463 780 452 575 837
 794 824 428 823 781 849 489 431 457 768 831 359 820 573 576 558 817 449
 440 415 821 530 350 446 425 740 481 783 358 845 451 458 469 423 404 836
 473 835 466 491 351 827 843 365 532 414 453 471 401 810 832 470 447 422
 825 430 436 426 408 847 418 437 410 454 407 455 462 386 405 383 395 467
 433 442 424 448 441 367 412 382 373 419]
Geography: [0 1 2]
Gender: [0 1]
Age: [42 41 39 43 44 50 29 27 31 24 34 25 35 45 58 32 38 46 36 33 40 51 61 49
 37 19 66 56 26 21 55 75 22 30 28 65 48 52 57 73 47 54 72 20 67 79 62 53
 80 59 68 23 60 70 63 64 18 82 69 74 71 76 77 88 85 84 78 81 92 83]
Tenure: [ 2  1  8  7  4  6  3 10  5  9  0]
Balance: [     0.    83807.86 159660.8  ...  57369.61  75075.31 130142.79]
NumOfProducts: [1 3 2 4]
HasCrCard: [1 0]
IsActiveMember: [1 0]
EstimatedSalary: [101348.88 112542.58 113931.57 ...  42085.58  92888.52  38190.78]
Exited: [1 0]

In [54]:
df.sample(5)

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
8175,561,0,0,22,6,186788.96,2,1,0,73286.80,0
331,667,1,0,40,1,146502.07,1,1,0,19162.89,0
1954,624,1,1,51,5,174397.21,2,1,1,172372.63,0
6937,589,0,0,50,4,0.00,2,0,1,182076.97,0
9885,670,0,1,33,8,126679.69,1,1,1,39451.09,0

In [55]:
cols_to_scale = ['CreditScore', 'Age', 'Tenure', 'Balance', 'EstimatedSalary']

from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df[cols_to_scale] = scaler.fit_transform(df[cols_to_scale])

df.sample(5)

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
1379,0.636,2,0,0.189189,1.0,0.366850,1,1,1,0.217942,0
2408,0.606,1,1,0.500000,0.7,0.000000,2,1,1,0.209797,0
7496,0.948,2,1,0.418919,0.8,0.531018,1,1,1,0.339401,0
8766,0.598,1,0,0.243243,0.6,0.345190,1,0,0,0.099077,0
5745,0.558,1,1,0.189189,0.3,0.000000,2,1,1,0.076973,0

In [56]:
#Train Test Split for our ANN

x = df.drop('Exited',axis='columns')
y = df['Exited']

from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2,random_state=5)

In [57]:
x_train.shape

(8000, 10)

In [58]:
x_test.shape

(2000, 10)

In [59]:
x_train[:10]

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
7751,0.800,1,0,0.283784,0.6,0.000000,2,0,0,0.096273
4154,0.752,0,1,0.216216,0.3,0.000000,2,1,0,0.981478
3881,0.476,0,0,0.621622,0.3,0.000000,1,1,1,0.948551
9238,0.846,0,0,0.432432,0.4,0.000000,2,1,0,0.646869
5210,0.402,0,1,0.229730,0.7,0.517012,2,0,0,0.434670
7487,0.602,0,0,0.513514,0.4,0.000000,1,0,0,0.421898
7542,0.314,1,0,0.216216,0.4,0.000000,2,1,1,0.303413
7524,0.620,0,0,0.297297,0.8,0.666330,1,1,1,0.925815
9412,0.750,0,1,0.108108,0.6,0.393324,1,0,0,0.668609
6377,0.684,0,1,0.202703,0.9,0.000000,1,1,0,0.567526

In [60]:
len(x_train.columns)

10

In [69]:
import keras
from tensorflow import keras

model = keras.Sequential([
      keras.layers.Dense(10, input_shape=(10,), activation='relu'),
      keras.layers.Dense(1, activation='sigmoid')
    ])
    
model.compile(
        optimizer='adam',
        loss='binary_crossentropy',
        metrics = ['accuracy']
    )
    
model.fit(x_train, y_train, epochs=100)

Epoch 1/100
250/250 [==============================] - 1s 3ms/step - loss: 0.6522 - accuracy: 0.6574
Epoch 2/100
250/250 [==============================] - 1s 3ms/step - loss: 0.5110 - accuracy: 0.7960
Epoch 3/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4818 - accuracy: 0.7960
Epoch 4/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4681 - accuracy: 0.7971
Epoch 5/100
250/250 [==============================] - 1s 4ms/step - loss: 0.4578 - accuracy: 0.8023
Epoch 6/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4489 - accuracy: 0.8054
Epoch 7/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4407 - accuracy: 0.8099
Epoch 8/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4338 - accuracy: 0.8134
Epoch 9/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4276 - accuracy: 0.8156
Epoch 10/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4219 - accuracy: 0.8176
Epoch 11/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4168 - accuracy: 0.8198
Epoch 12/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4124 - accuracy: 0.8221
Epoch 13/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4085 - accuracy: 0.8209
Epoch 14/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4050 - accuracy: 0.8224
Epoch 15/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4019 - accuracy: 0.8248
Epoch 16/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3992 - accuracy: 0.8264
Epoch 17/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3961 - accuracy: 0.8282
Epoch 18/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3939 - accuracy: 0.8296
Epoch 19/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3917 - accuracy: 0.8326
Epoch 20/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3895 - accuracy: 0.8347
Epoch 21/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3873 - accuracy: 0.8345
Epoch 22/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3857 - accuracy: 0.8360
Epoch 23/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3842 - accuracy: 0.8335
Epoch 24/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3827 - accuracy: 0.8372
Epoch 25/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3809 - accuracy: 0.8374
Epoch 26/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3796 - accuracy: 0.8374
Epoch 27/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3783 - accuracy: 0.8379
Epoch 28/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3775 - accuracy: 0.8381
Epoch 29/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3756 - accuracy: 0.8390
Epoch 30/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3747 - accuracy: 0.8394
Epoch 31/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3733 - accuracy: 0.8405
Epoch 32/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3717 - accuracy: 0.8410
Epoch 33/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3706 - accuracy: 0.8421
Epoch 34/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3695 - accuracy: 0.8434
Epoch 35/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3690 - accuracy: 0.8438
Epoch 36/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3677 - accuracy: 0.8428
Epoch 37/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3666 - accuracy: 0.8454
Epoch 38/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3662 - accuracy: 0.8457
Epoch 39/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3649 - accuracy: 0.8446
Epoch 40/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3644 - accuracy: 0.8445
Epoch 41/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3638 - accuracy: 0.8446
Epoch 42/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3633 - accuracy: 0.8461
Epoch 43/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3629 - accuracy: 0.8466
Epoch 44/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3630 - accuracy: 0.8468
Epoch 45/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3619 - accuracy: 0.8471
Epoch 46/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3618 - accuracy: 0.8471
Epoch 47/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3608 - accuracy: 0.8481
Epoch 48/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3604 - accuracy: 0.8486
Epoch 49/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3594 - accuracy: 0.8465
Epoch 50/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3597 - accuracy: 0.8490
Epoch 51/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3586 - accuracy: 0.8480
Epoch 52/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3591 - accuracy: 0.8474
Epoch 53/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3580 - accuracy: 0.8493
Epoch 54/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3575 - accuracy: 0.8497
Epoch 55/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3568 - accuracy: 0.8494
Epoch 56/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3572 - accuracy: 0.8495
Epoch 57/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3564 - accuracy: 0.8514
Epoch 58/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3557 - accuracy: 0.8512
Epoch 59/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3558 - accuracy: 0.8494
Epoch 60/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3553 - accuracy: 0.8495
Epoch 61/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3548 - accuracy: 0.8508
Epoch 62/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3545 - accuracy: 0.8500
Epoch 63/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3537 - accuracy: 0.8514
Epoch 64/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3539 - accuracy: 0.8510
Epoch 65/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3528 - accuracy: 0.8509
Epoch 66/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3529 - accuracy: 0.8519
Epoch 67/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3522 - accuracy: 0.8512
Epoch 68/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3525 - accuracy: 0.8514
Epoch 69/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3521 - accuracy: 0.8515
Epoch 70/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3516 - accuracy: 0.8540
Epoch 71/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3517 - accuracy: 0.8520
Epoch 72/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3512 - accuracy: 0.8522
Epoch 73/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3508 - accuracy: 0.8540
Epoch 74/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3507 - accuracy: 0.8514
Epoch 75/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3503 - accuracy: 0.8545
Epoch 76/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3502 - accuracy: 0.8541
Epoch 77/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3506 - accuracy: 0.8549
Epoch 78/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3494 - accuracy: 0.8526
Epoch 79/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3492 - accuracy: 0.8549
Epoch 80/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3495 - accuracy: 0.8543
Epoch 81/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3492 - accuracy: 0.8536
Epoch 82/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3486 - accuracy: 0.8543
Epoch 83/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3488 - accuracy: 0.8553
Epoch 84/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3487 - accuracy: 0.8558
Epoch 85/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3481 - accuracy: 0.8558
Epoch 86/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3478 - accuracy: 0.8543
Epoch 87/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3479 - accuracy: 0.8549
Epoch 88/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3478 - accuracy: 0.8545
Epoch 89/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3482 - accuracy: 0.8561
Epoch 90/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3480 - accuracy: 0.8547
Epoch 91/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3481 - accuracy: 0.8558
Epoch 92/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3475 - accuracy: 0.8556
Epoch 93/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3477 - accuracy: 0.8555
Epoch 94/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3469 - accuracy: 0.8556
Epoch 95/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3476 - accuracy: 0.8555
Epoch 96/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3472 - accuracy: 0.8554
Epoch 97/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3481 - accuracy: 0.8537
Epoch 98/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3472 - accuracy: 0.8562
Epoch 99/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3467 - accuracy: 0.8575
Epoch 100/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3471 - accuracy: 0.8550

In [70]:
yp = model.predict(x_test)

In [71]:
yp[:10]

array([[0.03065503],
       [0.1007601 ],
       [0.08410984],
       [0.14389136],
       [0.05197963],
       [0.1355389 ],
       [0.03272259],
       [0.308459  ],
       [0.01576635],
       [0.9027165 ]], dtype=float32)

In [72]:
y_pred = []
for element in yp:
  if element > 0.5:
    y_pred.append(1)
  else:
    y_pred.append(0)

In [73]:
y_pred[:10]

[0, 0, 0, 0, 0, 0, 0, 0, 0, 1]

In [74]:
#Evaluating the prediction
from sklearn.metrics import confusion_matrix , classification_report

print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.86      0.97      0.91      1595
           1       0.78      0.40      0.53       405

    accuracy                           0.86      2000
   macro avg       0.82      0.68      0.72      2000
weighted avg       0.85      0.86      0.84      2000